
# Editor files
.idea
.vscode
.nyc_output

# TODO
.github

# dependencies
/node_modules

# testing
/coverage

# Exclude compiled files
/build
/public/raw
/scripts/stats.json
/src/aggregate/styles/steklotorg.png
/src/builder/3D/links.md
*.map

# misc
/.eslintcache
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
/config/test.env
/tmp

*.log*
yarn.lock

