
# Editor files
.idea
.vscode
.nyc_output

# TODO
.github

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# Exclude compiled files
/build
/scripts/stats.json
/.eslintcache
/src/public/data/
/server/mdm/cache/
!/server/mdm/cache/.gitkeep

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log*
yarn.lock

