.rdg.fill-grid {
  block-size: 100%;
  overflow-y: scroll;
}
.rdg.small-grid {
  block-size: 300px;
}
.rdg.big-grid {
  block-size: 600px;
}

/*
@layer rdg.TextEditor {
  .rdg-7-0-0-beta-59-2f8db206 {
    appearance: auto;
  }
  select, input {
    border: none;
    width: 100%;
    height: 100%;
    padding-inline: 8px;
  }
}
*/

@layer rdg.HeaderRow {
  .rdg-7-0-0-beta-58-0dbd5994 {
    font-weight: unset;
  }
}

.glass-padding {
  padding: 8px;
  line-height: initial;
  outline: none;
  align-content: baseline;
}

.attention {
  .rdg-cell {
    color: #c00;
  }

  &:hover .rdg-cell {
     color: #a00;
   }
}

.cell-input {
  margin-left: 0;
  padding-left: 8px;
  width: 100%;
}
.cell-input::before {
  display: none;
}
.cell-input::after {
  display: none;
}

.cell-select {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-select input {
  margin: 2px;
}

