@page {
  size: 80mm 40mm;
  margin: 0;
}

@media print {
  header, footer {
    display: none;
  }
}

html, body {
  font-family: Arial, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

article {
  padding: 1mm;
  page-break-inside: avoid;
  page-break-after: always;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.partner {
  font-size: 6mm;
  line-height: 7mm;
}

.txt {
  font-size: 3.7mm;
  line-height: 4mm;
  min-height: 2mm;
}

.flex {
  display: flex;
}

.qr {
  width: 20mm;
  margin-right: 2mm;
}
